body{
  background-color: #021c1e;
  margin: 0;
}


/*Navigation Bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2988bc;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}

nav li {
    float: left;
    display: inline-block;
}

nav li a {
    display: block;
    color: #f4ebdb;
    font: 18px Georgia, serif;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    font: 18px Georgia, serif;
    background-color: #111;
}


/*Banner*/
.banner0 {
  position: relative;
}

.banner{
  position: static;
  background-repeat: no-repeat;
  height: 81vh;
  background-size: 100% 100%;
  background-image: url(javascript.jpg);
  text-align: center;
  font: bold 40px Georgia, serif;
  margin-top: 46px;
}


.options {
  opacity: 0.8;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%
}

.logo{
  position: relative;
  background-repeat: no-repeat;
  height: 20vh;
  background-size: 100% 100%;
  text-align: center;
  background-color: #063852;
  border: 1px solid #d0e1f9;
}

.pic-html{
  background-image: url(html.png);
}

.pic-css{
  background-image: url(css.png);
}

.pic-js{
  background-image: url(javascript.png);
}

.pic-ruby{
  background-image: url(ruby.png);
}

/*description*/
.description p {
  color: white;
  text-align: center;
  padding: 1% 32%;
}

/*video*/

.video {
  text-align: center;
  border: 1px solid #d0e1f9;
  height: 240px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px 0px;
}

.container
{
  text-align: center;
  width: 100%;
  padding: 10px 20px;
}

/*extras*/


.extras  {
  text-align: center;
}

.extras ul li {
  text-align: center;
}
