body{
  background-color: black;
  margin: 0;
}

.row{
border: 1px solid rebeccapurple;
}

/*Navigation Bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    /*float: left;*/
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*Banner*/

.banner{
  position: static;
  background-repeat: no-repeat;
  height: 107vh;
  background-size: 100%;
  background-image: url(js-image.png);
  text-align: center;
  font: bold 40px Georgia, serif;
}


.logo{
  position: static;
  background-repeat: no-repeat;
  height: 20vh;
  background-size: 100% 100%;
  text-align: center;
}

.pic-html{
  background-image: url(html.png);
}

.pic-css{
  background-image: url(css.png);
}

.pic-js{
  background-image: url(javascript.png);
}

.pic-ruby{
  background-image: url(ruby.png);
}

/*description*/
.description p {
  color: white;
  text-align: center;
  padding: 1% 32%;
}

/*video*/

.video {
  text-align: center;
  height: 240px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px 0px;
}

.container
{
  text-align: center;
  width: 100%;
  padding: 10px 20px;
}

/*extras*/


.extras  {
  text-align: center;
}

.extras ul li {
  text-align: center;
}
